/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import 'variables';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em;
  line-height: 1;
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
}

h1 {
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 1.8em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  &,
  &:focus,
  &:visited {
    color: $brand-primary;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: $brand-primary;
    text-decoration: none;
  }
}

.icon-fw {
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: $break-md) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }
}
