$brand-primary: #469648;
$brand-secondary: #F5CB5C;
$brand-light: #CFDBD5;
$brand-lighter: #E8EDDF;
$brand-darker: #242423;
$brand-dark: #333333;
$brand-danger: #881626;

$gray: #6D6D6D;
$gray-light: #E8E8E8;
$gray-dark: $brand-dark;
$gray-darker: $brand-darker;

$break-sm: 768px;
$break-md: 992px;
$break-lg: 1280px;

$font-primary: "proxima-nova", sans-serif;