.page-header {
  background-color: $brand-darker;
  border-bottom: 4px solid $brand-warning;
}

.overlay .logo {
  bottom: 125px;
  left: -80px;
  letter-spacing: 4px;
}

.alert.alert-info {
  background-color: $brand-success !important;
  border: none !important;
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;

  .close {
    text-decoration: none !important;
  }
}

/* ================ */
/* === SIDE NAV === */
/* ================ */

.menu-mobile-home {
  position: absolute;
  right: 13px;
  top: 10px;
  z-index: 5;
  font-size: 25px;


  a {
    &, &:visited {
      color: $gray-dark;
    }
  }
}

.menu-layer {
  li {
    &.open {
      background-color: $gray-darker;

    }

    &:before {
      color: #fff;
    }

    a {
      color: #fff !important;

      &:hover {
        background-color: $brand-secondary;
        color: $gray-darker !important;
      }
    }

    .hover-bg {
      background-color: $brand-darker;
    }
  }
}
