.system-form {
  padding: 35px;
  text-align: center;
  max-width: 500px;
  background-color: #fff;
  max-width: 350px;
  margin: 50px auto;
  border-radius: 3px;

  p {
    font-size: 1.2em;
    text-align: left;
  }

  label {
    display: block;
    font-size: 0.8em;
  }

  input[type="password"],
  input[type="text"] {
    width: 100%;
    margin-top: 8px;
    padding: 2px 15px;
    margin-top: 0 !important;
  }

  input[type="submit"] {
    @extend .btn, .btn-primary;

    width: 100%;
    display: block;
    background-color: $brand-primary;
  }

  .errorlist {
    font-style: italic;
    color: $brand-danger;
    font-size: 0.8em;
  }
}
