{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block head %}
    <title>History</title>
    <!-- BEGIN PLUGINS CSS -->
    <!-- END PLUGINS CSS -->
{% endblock %}

{% block body %}

    {% include 'player_dashboard/sidebar.html' %}

    <div class="content history-{{ questionnaire.slug }}">
        <div class="page-header full-content">
            <div class="row">
                <div class="col-sm-6">
                    <h1>History <small>{{ questionnaire.name }}</small></h1>
                </div><!--.col-->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'player_dashboard:dashboard' %}">
                                <i class="ion-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="active">
                                History
                            </a>
                        </li>
                    </ol>
                </div><!--.col-->
            </div><!--.row-->
        </div><!--.page-header-->

        {% if not submission_list %}
            <h4><em>
                No records yet
            </em></h4>
        {% endif %}

        {% if submission_list %}
            <div class="table-responsive">
                <div id="history-container"></div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped history-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            {% for a in submission_list.0.answer_set.all|dictsort:"question.sort"  %}
                                <th>{{ a.question.text  }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in submission_list %}
                            <tr>
                                <td>{{ s.date|date:"SHORT_DATE_FORMAT" }}</td>
                                {% for a in s.answer_set.all|dictsort:"question.sort" %}
                                    <td>{{ a.answer }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    {% include 'player_dashboard/navigation.html' %}
{% endblock %}

{% block extra_body %}
    <!-- BEGIN PLUGINS AREA -->
        <script src="{% static "bower_components/highcharts/highcharts.src.js" %}"></script>
	<!-- END PLUGINS AREA -->

	<!-- PLUGINS INITIALIZATION AND SETTINGS -->
        <script src="{% get_static_prefix %}/js/history.{{questionnaire.slug}}.highcharts.js"></script>
    <!-- END PLUGINS INITIALIZATION AND SETTINGS -->

    <!-- BEGIN INITIALIZATION-->
    <script>
    $(document).ready(function () {
        window.chartTitle = "{{ questionnaire.name }} history";
        window.chartLabels = ["Date"]
        window.chartData = []

        {% for a in submission_list.0.answer_set.all|dictsort:"question.sort" %}
            window.chartLabels.push("{{ a.question.text }}");
        {% endfor %}

        {% for s in submission_list %}
            var dataRow = ['{{ s.date|date:"SHORT_DATE_FORMAT" }}'];

            {% for a in s.answer_set.all|dictsort:"question.sort" %}
                dataRow.push("{{ a.answer }}");
            {% endfor %}

            window.chartData.push(dataRow);
        {% endfor %}

		Layout.init();
		Pleasure.init();
        HighchartsConfig.init();
    });
    </script>
    <!-- END INITIALIZATION-->
{% endblock %}
