@import './variables';

.wrapper {
  display: inline-block;
  width: 100%;
}

.back-arrow {
  margin-top: 20px;
  display: block;
  color: $gray-darker !important;
  padding: 10px;
  width: 35px;
  height: 35px;
  background-color: $brand-secondary;
  border-radius: 50px;

  &:hover {
    background-color: $gray-darker;
    color: $brand-light !important;
  }
}

@media (min-width: $break-md) {
  .back-arrow {
    margin-top: 37px;
  }
}
