{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block body %}
    {% include 'player_dashboard/sidebar.html' %}

	<div class="content">
		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Dashboard <small>Activity Summary</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#" class="active"><i class="ion-home"></i> Home</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

    <div class="full-content mobile-center margin-top-40 margin-bottom-40 bg-white">
      <div class="row">
        <div class="col-md-4 material-animate padding-right-40 material-animated" style="animation-delay: 0.66s;">
          <h3>Training sessions</h3>
          <p class="text-grey">
            Track your training sessions, to bla bla lorem ipsum
          </p>

          <a href="{% url 'questionnaire:wizard' 'training-session' %}"
            class="btn btn-lg btn-success btn-ripple dashboard-btn">
            Enter training session
          </a>

          <div class="dashboard-history-link">
            <a href="{% url 'questionnaire:history' 'training-session' %}">
              View history
            </a>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-8 material-animate material-animated" style="animation-delay: 0.8s;">
          <div class="row">
            <div class="col-md-6">
              <div id="ts-chart-rpe">{{ latest_rpe }}</div>
            </div>
            <div class="col-md-6">
              <div id="ts-chart-total">{{ count_training_session }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="full-content mobile-center margin-top-40 margin-bottom-40 bg-black text-white">
      <div class="row">
      <div class="col-md-4 material-animate padding-right-40 material-animated" style="animation-delay: 0.66s;">
        <h3 class="text-white">Daily well being</h3>
        <p class="text-white">
          Daily well being, bla bla lorem ipsum
        </p>

        <button type="button" class="btn btn-lg btn-success btn-ripple full-block">
          Enter daily well being
        </button>

        <div class="dashboard-history-link">
          <a href="#">
            View history
          </a>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-8 material-animate material-animated" style="animation-delay: 0.8s;">
          <div class="row">
            <div class="col-md-6">
              <div id="dw-chart-completion">{{ completion_daily_wellbeing }}</div>
            </div>
            <div class="col-md-6">
              <div id="dw-chart-total">{{ count_daily_wellbeing }}</div>
            </div>
          </div>
      </div>
    </div>
  </div><!--.content-->
  {% include 'player_dashboard/navigation.html' %}

{% endblock %}

{% block extra_body %}
    <!-- BEGIN PLUGINS AREA -->
        <script src="{% static "bower_components/highcharts/highcharts.src.js" %}"></script>
  <!-- END PLUGINS AREA -->

  <!-- PLUGINS INITIALIZATION AND SETTINGS -->
        <script src="{% static "js/dashboard.highcharts.js" %}"></script>
    <!-- END PLUGINS INITIALIZATION AND SETTINGS -->

    <!-- BEGIN INITIALIZATION-->
    <script>
    $(document).ready(function () {
        Pleasure.init();
        Layout.init();
        HighchartsConfig.init();
    });
    </script>
    <!-- END INITIALIZATION-->
{% endblock %}
