    <div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<div class="menu-layer">
			<ul>
				<li {% if menu_item == 'index' %}data-open-after="true"{% endif %}>
					<a href="{% url 'player_dashboard:dashboard' %}">Dashboard</a>
				</li>
				<li>
					<a href="javascript:;">Training sessions</a>

					<ul class="child-menu">
						<li>
							<a href="{% url 'questionnaire:wizard' 'training-session' %}">
								Enter training session
							</a>
						</li>
						<li>
							<a href="{% url 'questionnaire:history' 'training-session' %}">
								View history
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">Daily wellbeing</a>

					<ul class="child-menu">
						<li>
							<a href="{% url 'questionnaire:wizard' 'training-session' %}">
								Enter daily wellbeing
							</a>
						</li>
						<li>
							<a href="{% url 'questionnaire:history' 'training-session' %}">
								View history
							</a>
						</li>
					</ul>
				</li>
        <li>
					<a href="{% url 'player_dashboard:logout' %}">Logout</a>
				</li>
			</ul>
		</div><!--.menu-layer-->
		<!-- END OF MENU LAYER -->
	</div><!--.layer-container-->
