  <div class="layer-container">
		<!-- BEGIN MENU LAYER -->
		<div class="menu-layer">
			<ul>
				<li {% if menu_item == 'index' %}data-open-after="true"{% endif %}>
					<a href="{% url 'player_dashboard:dashboard' %}">Home</a>
				</li>

				<li>
					<a href="javascript:;">Daily Wellbeing</a>

					<ul class="child-menu">
						<li>
							<a href="{% url 'questionnaire:wizard' 'daily-wellbeing-o15' %}">
								Enter daily wellbeing
							</a>
						</li>
						<li>
							<a href="{% url 'questionnaire:history' 'daily-wellbeing-o15' %}">
								View history
							</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript:;">Exercise Diary</a>

					<ul class="child-menu">
						<li>
							<a href="{% url 'questionnaire:wizard' 'exercise-diary' %}">
								Enter new session
							</a>
						</li>
						<li>
							<a href="{% url 'questionnaire:history' 'exercise-diary' %}">
								View history
							</a>
						</li>
					</ul>
				</li>

        <li>
					<a href="https://talentstomorrow.com/athlete-dashboard/" target="_blank">
						How it works
					</a>
				</li>


        <li>
					<a href="{% url 'player_dashboard:logout' %}">Logout</a>
				</li>
			</ul>
		</div><!--.menu-layer-->
		<!-- END OF MENU LAYER -->
	</div><!--.layer-container-->
