@import './variables';

.list-item {
  padding: 0;

  &:hover {
    background-color: $brand-light;
    color: #fff;
  }
}

.link {
  padding: 15px;
  display: block;

  &,
  &:hover,
  &:visited {
    color: $gray-darker;
  }
}
